.contacts__content {
  padding-right: 42%;

  @include tablets {
    padding-right: 0;
  }
}

.contacts__title {
  margin-bottom: 5%;

  @include tablets {
    text-align: center;
  }

  @include phones {
    margin-bottom: 12%;
  }
}