.reviews__top {
  display: flex;
  align-items: center;
  margin-bottom: 15%;
}

.reviews__content {
  padding-right: 20vw;

  @include tablets {
    padding-right: 0;
  }
}

.reviews__title {
  margin-right: 20px;
}
