script(type="text/x-template")#reviews-template
  .reviews
    .container.reviews__container
      .reviews__top
        .section-title.reviews__title Что обо мне говорят
        .reviews-slider-buttons
          button(type="button" @click="previous()" :disabled="currentIndex === 0" :class="{disabled: currentIndex === 0}").reviews-slider-buttons__btn.reviews-slider-buttons__btn--prev
          button(type="button" @click="next()" :disabled="reviews.length === currentIndex" :class="{disabled: reviews.length === currentIndex}").reviews-slider-buttons__btn.reviews-slider-buttons__btn--next
      .reviews__content
        .reviews-slider(v-if="reviews.length")
            flickity(ref="flickity" :options="flickityOptions" @init="onInit")
              li(v-for="review in reviews" :key="review.id").reviews-slider__item.review
                review(
                  :review="review"
                )

script(type="text/x-template")#review-template
  .review__item
    .section-text.review__content
      p {{review.text}}
    .review__person-info
      .review__avatar
        img(:src="review.avatar" :alt="review.autor").review__avatar-img
      .review__person-desc
        .review__author {{review.autor}}
        .section-text {{review.position}}